<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diaoyan.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.activity.recyclerviewscroll.RecyclerViewScrollActivity" />

        <activity android:name=".ui.activity.reflection.ReflectionActivity" />
        <activity android:name=".ui.activity.crashoptimizition.CrashActivity"></activity>
        <activity android:name=".ui.activity.crashoptimizition.OptimizationActivity" />

        <activity android:name=".ui.activity.videolist.ui.VideoMutilActivity" />
        <activity android:name=".ui.activity.keyboard.XianYuActivity" />
        <activity android:name=".ui.activity.dragview.DragActivity" />

    </application>

</manifest>